<div class="row columns ">
  <div class="ui secondary pointing menu">
    <a routerLink="/EmailHome/" routerLinkActive="active" class="item">
      Home</a>
      <a routerLink='/EmailHome/SignIn' routerLinkActive="active"  class="item " >
        SignIn
      </a>
      <a routerLink='/EmailHome/SignUp' routerLinkActive="active"  class="item " >
        SignUp
      </a>
      <div class="right menu">
        <!-- <a class="ui item">
          Logout
        </a> -->
      </div>
    </div>
    <div class="ui segment">
      <router-outlet></router-outlet>
    </div>
  </div>
