<div class="row columns ">
<div class="ui secondary pointing menu">
  <a routerLink="" routerLinkActive="active" class="item">
    Home</a>
    <a routerLink='/test'  routerLinkActive="active"  class="item" >
      Test 
    </a>
    <a routerLink='/directives' routerLinkActive="active"  class="item " >
      Directives
    </a>
    <a routerLink='/pipes' routerLinkActive="active"  class="item " >
      Pipes
    </a>
    <a routerLink='/HttpService' routerLinkActive="active"  class="item " >
      Http Services
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout   
      </a>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
