<h1>pipe-testing works!</h1>
<!-- <div class="divider">
    Actual datetime : <p>{{todaydate}}</p>
    Formated datetime 1 : <p>{{todaydate | date}}</p>
    Formated datetime 2 : <p>{{todaydate | date:"dd-MMM-yyyy"}}</p>
    Formated datetime 3 : <p>{{todaydate | date:'fullDate' | uppercase }}</p>
</div> -->
<!-- <div class="divided">
    Actual string : <p>{{color}}</p>
    Formated string 1 : <p>{{color | date}}</p>
    Formated string 2 : <p>{{color | uppercase}}</p>
    Formated string 3 : <p>{{color | lowercase }}</p>
</div> -->
<a href="pipes#PaymentForms">Payment Form</a><br>
<a href="pipes#CurrencyPipe">Currency Pipe</a><br>
<a href="pipes#DatePipe">Date Pipe</a><br>
<a href="pipes#StringPipe">String Pipe</a><br>
<hr>
<div class="ui raised segment">
    <a id="PaymentForms"></a>
    <h2>Payment Forms</h2>
    <app-payment-form></app-payment-form>
</div>

<hr>
<div class="ui raised segment">
    <a id="CurrencyPipe"></a>
    <h2>Currency Pipes Works</h2>
    <app-pipe-currency></app-pipe-currency> 
</div>
<hr>
<div class="ui raised segment">
    <a id="DatePipe"></a>
    <h2>Date Pipes Works</h2>
    <app-pipe-date></app-pipe-date>
</div>
<hr>
<div class="ui raised segment">
    <a id="StringPipe"></a>
    <h2>String Pipes Works</h2>
    <app-pipe-string></app-pipe-string>
</div>