<h1>Directive-testing works!</h1>

<div class="row divided">
    <p class="header">Atribute Directives</p>
     <p  [apperror]="color"  >this Custom Atrribute directives</p>
     Hello {{name}}
</div>
<div class="angular active"  >
    <p  >Custom IF Structural Directives</p>

    <br>
       <h2 *appcustomif ="condition">
        <p  [apperror]="color">
            Hello {{name}}
        </p>
       </h2>
     <!-- <button (click)="condition = !condition">Click</button>   -->
<div *ngIf="isTrue">
  This is *ngIf example
</div>
</div>
